<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="mainContainer">

            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand navTop">
                <img src="images/logo1.png" class="navLogo d-inline-block align-top" alt="">
                <span class="navbarTitle">iFeed</span>
              </a>
              <a  href="main.html" class="signUpBtn btn btn-outline-success">AddComplaint</a>
            </nav>

            <section class='main'>
                <div id="mainText">
                    <img class="logo animated flash" src="images/logo1.png">
                    <div id="heading">
                        <h1 id="mainHeading">WELCOME, TO STUDENT iFEED SYSTEMS.</h1>
                        <h2 id="secondaryHeading">We provide platform for Schools, Colleges and established Universities that accepts feedback from students. Are you here for feedback? We're ready to help!</h2>
                    </div>
                </div>
            </section>

            <section class="messSection">
                <img class="messImage" src="images/mess.jpg">
                <div class="messContent">
                    <p class="head">Mess Feedback for Hostelers.</p>
                    <p class="subHead">Building incredible themes is hard work, but building a customer base is too. Being on Bootstrap Themes means your theme is visible to every Bootstrap user. Our goal is to help you build a successful business.</p>
                </div>
            </section>

            <section class="hostelSection">
                <div class="hostelContent">
                    <p class="head">Personalised Hostel Feedback.</p>
                    <p class="subHead">Building incredible themes is hard work, but building a customer base is too. Being on Bootstrap Themes means your theme is visible to every Bootstrap user. Our goal is to help you build a successful business.</p>
                </div>
                <img class="hostelImage" src="images/student.png">
            </section>

        </div>


            <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="js/app.js" type="text/javascript"></script>
    </body>
</html>
